<nb-card>
    <nb-card-header></nb-card-header>
    <nb-card-body [nbSpinner]="loadingData" nbSpinnerSize="giant" nbSpinnerStatus="primary">
        <form [formGroup]="myForm">
            <div class="row">
                <div class="col-md-12">
                    <shared-mezzo-crea (outForm)="addFormGroup('veicolo', $event)" [parentForm]="myForm.get('veicolo')" [max]="1" [modifica]="modifica" [dataInstance]="apiMezzo"></shared-mezzo-crea>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-md-3">
                <button nbButton form="myForm" fullWidth (click)="onReset()" status="warning">Resetta</button>
            </div>
            <div class="col-md-3 offset-6">
                <button nbButton (click)="onSubmit()" fullWidth [disabled]="myForm.invalid" status="success">Submit</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>
