<nb-card>
    <nb-card-header></nb-card-header>
    <nb-card-body [nbSpinner]="loadingData" nbSpinnerSize="giant" nbSpinnerStatus="primary">
        <form [formGroup]="myForm">
            <div class="row">
                <div class="col-md-12">
                    <shared-brand-crea (outForm)="addFormGroup('brand', $event)" [parentForm]="myForm.get('brand')" [max]="1"></shared-brand-crea>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-md-3">
                <button nbButton form="myForm" fullWidth (click)="onReset()" status="warning">Resetta i campi</button>
            </div>
            <div class="col-md-3 offset-6">
                <button nbButton (click)="onSubmit()" fullWidth [disabled]="myForm.invalid" status="success">Submit</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>
