<nb-card>
    <nb-card-header>
        Note
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="myForm">
            <div class="row">
                <div class="col-md-12">
                    <shared-note-crea  (outForm)="addFormGroup('note', $event)" [parentForm]="myForm.get('note')" ></shared-note-crea>
                </div>
            </div>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-md-3">
                <button nbButton form="myForm" fullWidth (click)="onReset()" status="warning">Resetta i campi</button>
            </div>
            <div class="col-md-3 offset-6">
                <button nbButton (click)="onSubmit()" fullWidth [disabled]="myForm.invalid" status="success">Salva nota</button>
            </div>
        </div>
    </nb-card-footer>
</nb-card>