<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-6 text-left">
                <h5>Componente SIM</h5>
            </div>
            <div class="col-6 text-right">
                <button nbButton status="primary" (click)="onMassiveCreate()" status="primary"> + Aggiunta massiva </button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body [nbSpinner]="loadingData" nbSpinnerSize="giant" nbSpinnerStatus="primary">
        <ng2-smart-table [settings]="settings" (create)="onCreate()" (edit)="onEdit($event)" (delete)="onDelete($event)"
            [source]="source"></ng2-smart-table>
    </nb-card-body>
</nb-card>